version: '3'

services:
  api:
    extends:
      file: docker-compose.common.yml
      service: mirria
    environment:
      - APP_COMPONENT=api
    ports:
      - 7788:3000
    networks:
      - mirror
    depends_on:
      elasticsearch:
        condition: service_healthy
  crawler:
    extends:
      file: docker-compose.common.yml
      service: mirria
    environment:
      - APP_COMPONENT=crawler
    networks:
      - mirror
    depends_on:
      elasticsearch:
        condition: service_healthy
  meilisearch:
    image: getmeili/meilisearch:v1.6
    environment:
      - MEILI_MASTER_KEY=phUgbRnzVrhRoucIrSwxqfYbfPG4dP879t9E7n5U2
    volumes:
       - /mnt/mirror/meili/:/meili_data:rw
    networks:
      - mirror
    healthcheck:
      interval: 10s
      retries: 80
      test: curl --write-out 'HTTP %{http_code}' --fail --silent --output /dev/null http://localhost:7700/

networks:
  mirror:
    driver: bridge